* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #ebfbff;

    background-image: url(./images/bg-hero-desktop.svg);
    background-size: cover;
    height: 100%;

}

header .first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin-bottom: 3rem;
}

header .second {
    justify-content: space-around;
    align-items: flex-end;
    color: #00252e;
    height: 400px;
    padding: 30px;
    align-items: center;
    
    
}
  header .second .heading {
    font-size: 1.5rem;
    margin-bottom: 2rem;

  }
  header .second .para {
    font-size: 1.2rem;
    
    margin-bottom: 1.5rem;   
  }

  header .second .community-interface {
    font-size: 0.9rem;
    margin-top: 10px;
    margin-bottom: 60px; }